
<app-search></app-search>
<div class="categories">
<span><strong>Categories</strong></span>
<span>
<button (click)="toggleallcategories()"><strong>See All Categories</strong></button>
</span>
<span><a routerLink="/home">
<button>Any</button>
</a></span>
<span  *ngFor="let category of categories">
  <a routerLink="/home/categorysearch/{{category.category}}">
  <button>{{category.category}}</button>
  </a>
</span>
</div>
<app-searchresults *ngIf="!view"></app-searchresults>
<app-storeviewer *ngIf="view"></app-storeviewer>
<app-listingviewer *ngIf="view"></app-listingviewer>
<br/>
<br/>
<p  class="categories">In 2020, an hour of human labour in Australia created about $83 of value on average, the median wage was $36/h and the average
was $28. Where did the extra value go? Cooperatives are democratic businesses owned and run by the people who use and/or work
for the business. They are the shareholders and decide what happens with the profits. The labour accounts of all countries that
gather the necessary data show that there is a very strong correlation between the overall number of hours worked in a country
and the value created by each country, the same is true of each particular industry within each country, roughly 95% correlation.</p>
<h3>If you have any constructive criticism or find any bugs or errors please email democraticsocialnetwork@gmail.com</h3>
