.categories{
  margin-left:5vw;
  margin-right:5vw;
}

button{
  margin-left:1vw;
  margin-top:1vh;
  box-shadow: 2px 2px 10px	#191970;
  border-radius:10px;
}

button:hover{
  background-color:#6699cc
}
h3{
  margin-left:5vw;
  margin-right:5vw;
  margin-top:2vw;
  margin-bottom:2vw;
}
