a {
  color: white;
  text-decoration: none;
  font-size:140%;
}

.navbar{
  background-color:#aa98a9;
  display:flex;
  align-items:center;
  width:100vw;
  height:6vh;
  padding:1vw;
}



h1{
margin-left:4vw;
color:white
}

.goto{
  font-size: 80%;
  margin-left:2vw;
}

@media only screen and (max-width: 361px) {
  .title{
    font-size: 60%;

  }
  .goto{
    font-size: 40%;
    margin-left:2vw;
  }

}
