<div class='navbar'>
  <span class='title'><h1>Cooperative Marketplace</h1></span>
    <a routerLink="/home" routerLinkActive="active"><span class='goto'>    Home    </span></a>
    <a routerLink="/about" *ngIf="isAuthenticated && isCool" routerLinkActive="active"> <span class='goto'>About    </span></a>
    <a *ngIf="!isAuthenticated" routerLink="/registration" routerLinkActive="active"> <span class='goto'>Register    </span></a>
    <a *ngIf="!isAuthenticated" routerLink="/login" routerLinkActive="active"><span class='goto'>Login</span></a>
    <a *ngIf="isCool" routerLink="/mystores" routerLinkActive="active"><span class='goto'>My Stores</span></a>
    <a *ngIf="isAuthenticated" (click)="logout()" routerLinkActive="active-link" routerLink="/login"><span class='goto'>Logout</span></a>
</div>
