
.router{
  overflow-y:hidden;
}

body{
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
  }


.viewer{
  height:32vh;
  width:700vw;
  margin-left:5vw;
  margin-top:3vh;
}

.viewercontainer{
  height:27vh;
  width:90vw;
  display: flex;
  overflow-x: auto;
}

.vieweritem{
  height:22vh;
  width:25vw;
  display:inline-block;
  border-radius:10px;
  margin:0.5vw;
  border-width:2px;
  border-style: solid;
  border-color:purple;
  position:relative;
  box-shadow: 2px 2px 20px #6F8FAF;
}

.uservieweritem{
  overflow:hidden;
  height:22vh;
  width:25vw;
  display:inline-block;
  border-radius:10px;
  margin:0.5vw;
  border-width:2px;
  border-style: solid;
  border-color:purple;
  position:relative;
  box-shadow: 2px 2px 20px #6F8FAF;
}

.viewerimage{
position: absolute;
border-radius:10px;
margin-right:2vw;
z-index: -2;
object-fit:cover;
top:0;
left:0;
width:25vw;
height:21.7vh;
}

.viewertextwrapper{
  position: relative;
  object-fit: contain;
  border-radius:10px;
  padding:5px;
  background-color:white;
  overflow:hidden;
  z-index: 1;
  margin-right:2vw;
  opacity:0.8;
  top:1vh;
  left:1vh;
  width:23vw;
  min-height:6.5vh;
}

.viewerprice{
  font-weight:bold;
  position: relative;
  background-color:white;
  border-radius:10px;
  overflow:hidden;
  padding:5px;
  opacity:0.8;
  left:1vh;
  top:4vh;
  width:92%;
  height:15%;
  bottom:0;
}



.searchresults{
  height:400vh;
  width:90vw;
  margin-left:5vw;
  margin-top:5vh;
}

.searchresultscontainer{
  height:80vh;
  overflow-y:scroll;
  display:flex;
  flex-wrap: wrap;
}

.usersearchresultsitem{
  overflow:hidden;
  height:27vh;
  width:27vw;
  border-radius:10px;
  margin:1vw;
  border-width:2px;
  border-style: solid;
  border-color:purple;
  position:relative;
  box-shadow: 2px 2px 20px #6F8FAF;
}

.searchresultsitem{
  height:27vh;
  width:27vw;
  border-radius:10px;
  margin:1vw;
  border-width:2px;
  border-style: solid;
  border-color:purple;
  position:relative;
  box-shadow: 2px 2px 20px #6F8FAF;
}

.searchresultsimage{
position: absolute;
border-radius:10px;
z-index: -2;
object-fit:cover;
top:0;
left:0;
width:27vw;
height:27vh;
}


.textwrapper{
  position: relative;
  object-fit: contain;
  border-radius:10px;
  padding:5px;
  background-color:white;
  overflow:hidden;
  z-index: 1;
  opacity:0.8;
  top:1vh;
  left:1vh;
  width:24vw;
  height:8vh;
}


@media only screen and (max-width: 361px) {
.textwrapper{
  height:12vh;
  width:22vw;
}

.viewertextwrapper{
  width:19vw;
  height:12vh;
}

}



@media only screen and (max-width: 750px) {
  .viewerprice{
    width:23vw;
  }
  .searchresultsprice{
    width:23vw;
}
}
